*{
box-sizing:border-box;
user-select:none;
}


body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;


background:linear-gradient(
180deg,
#0057b7 50%,
#ffd700 50%
);


}



.game{

text-align:center;

width:100%;

max-width:420px;

}



h1{

color:white;

font-size:40px;

text-shadow:0 5px 10px black;

}



.coins{

background:#111;

color:white;

display:inline-block;

padding:15px 35px;

border-radius:25px;

font-size:40px;

}




.avatar{

width:260px;

height:260px;

object-fit:cover;

border-radius:50%;

border:8px solid gold;

margin:25px;

transition:.15s;

box-shadow:0 0 30px gold;

}



.jump{

transform:scale(1.15);

}





button{

border:none;

cursor:pointer;

font-weight:bold;

}



#click{

width:300px;

height:90px;

border-radius:50px;

font-size:40px;

background:#ffd700;

box-shadow:0 10px 0 #a87500;

}



#click:active{

transform:translateY(8px);

box-shadow:none;

}



#shopBtn{

margin-top:25px;

width:220px;

height:60px;

border-radius:30px;

font-size:25px;

background:#7b2cff;

color:white;

}





.shop{

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);


background:#111;

color:white;

padding:25px;

border-radius:25px;

width:330px;

}





.hidden{

display:none;

}





.card img{

width:150px;

height:150px;

border-radius:50%;

object-fit:cover;

border:5px solid gold;

}



.card button{

background:#00d632;

color:white;

padding:15px 30px;

border-radius:20px;

font-size:20px;

}



#closeShop{

margin-top:20px;

padding:10px 25px;

border-radius:20px;

background:red;

color:white;

}
